@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
}


.pl-20 {
  padding-left: 1.2rem;
}

.pr-20 {
  padding-left: 1.2rem;
}
