@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
}

.word-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word; /* Legacy support */
}